# code should not depend on data
data/

# stanford CoreNLP
stanford-corenlp-full-2016-10-31/

# config file
config.ini

# IDE files
.idea/

# compiled files
*.pyc

# rendered patterns
*.svg
**/visualizations/

# virtual environment
venv/

# throwaway code
test.py

# outputs
*.log
