# large data
stanford-corenlp-full-2016-10-31/
data/enwiki-latest-pages-articles.xml
data/enwiki-latest-pages-articles-redirected.xml
data/redirects_en.txt
data/instance_types_en.ttl
data/types_en.csv
data/mappingbased_objects_en.ttl

# volatile data
data/patterns.pkl
data/character_index.csv
data/character_index_filtered.csv

# config file
config.ini

# IDE files
.idea/

# compiled files
*.pyc

# rendered patterns
*.svg
**/visualizations/

# virtual environment
venv/