ascii-graph==1.2.0
beautifulsoup4==4.5.1
bs4==0.0.1
cycler==0.10.0
enum==0.4.6
lxml==3.6.4
matplotlib==1.5.3
nltk==3.2.1
numpy==1.11.2
Pattern==2.6
plotly==1.12.9
ppretty==1.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.7
requests==2.11.1
six==1.10.0
termcolor==1.1.0
terminaltables==3.1.0
